div{
    border: 2px solid black;
    padding:4px;
}
header{
    background: #d9d9d9;
    padding: 10px;
    text-align: center;
}
span{
    color: red;
}
li{
  display: inline-block;
  padding: 0;
  
}
a{
  padding:6px 10px;
  margin: 1px;
  background-color: #bcd7ff;
  text-decoration: none;
  
  border: 1px solid #8aaef0;
  color:purple;
}
.right {
    background-color: #b2f5b2;
    border-color: #7cd57c;
}
