#abc1{
    background-color: aquamarine;
    color: blueviolet;
}
#abc2{
    background-color: rgba(152, 241, 18, 0.192);
    color: rgb(226, 58, 43);
}
#abc3{
    background-color: rgb(226, 245, 18);
    color: rgb(226, 43, 156);
}
.box1{
    width: 100%;
    height: 100px;
    border: 2px solid black;
    background-color: rgb(131, 83, 12);
    color: brown;
}
.box2{
    width: 100%;
    height: 100px;
    border: 2px solid black;
    background-color: rgb(12, 85, 131);
    color: rgb(99, 165, 42);
}
.box3{
    width: 100%;
    height: 100px;
    border: 2px solid black;
    background-color: rgb(12, 131, 30);
    color: rgb(183, 114, 156);
}