#abc{
    background-color: rgb(127, 142, 255);
    color: #ed121dde;
    width: 10%;
    border: 2px solid black;

}
#abc1{
    width: 60%;
    height: 100px;
    border: 2px solid black;
    background-color: rgb(208, 145, 193);
    color: rgb(71, 42, 165);
}